html {
    font-size: 24px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    /* Gradients: https://cssgradient.io/ */
    background: linear-gradient(320deg, #3494E6 0%, #EC6EAD 100%);
}

body {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}
